DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=grupos_db
AUTH_SERVICE_URL=http://localhost:8000
ROLES_SERVICE_HOST=localhost
ROLES_SERVICE_PORT=50051
AUTH_SERVICE_HOST=localhost
AUTH_GRPC_PORT=50052
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5500
